.ShowGroupContent{
    width: 90%;
    margin: 0 auto;
    border: black 1px solid;
}
.showMember {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
}

.GroupName {
    width: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    height: 40px;
    font-weight: 700;
    background-color: #a23e48;
    color: #fff;
    border: 1px solid #232323;
}
.GroupMember{
    font-size: 16px;
    line-height: 30px;
    height: 30px;
    color: #232323;
}
.notshow{
    display: none;
}
.GroupMember td {
    border: 1px solid #232323;
}

.GroupTitle{
    width: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    height: 40px;
    font-weight: 700;
    background-color: #a23e48;
    color: #fff;
    border: 1px solid #ffffff;
    border-bottom: none;
    box-sizing: border-box;
}

.showMemberBox{
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto 30px;
    text-align: center;
}
